---
title: Authors
metaDescription: This page lists all of the article's authors.
layout: layouts/_base.njk
pagination:
  data: collections.authors
  size: Infinity
permalink: "authors/index.html"
contentname: Authors
ancestors: ../../
pagestyle: pages/articles.css
---
<h1>{{ title }}</h1>
<section>
  {% for author in pagination.items %}
    <article>
      <h3>
        <a href="/authors/{{ author | slug }}">{{ author | safe }}</a>
      </h3>
    </article>
  {% endfor %}
  <a href="{{ '/article/' | url }}" class="animated">← Article List</a>
</section>
