---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/_base.njk
renderData:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the article tagged with “{{ tag }}”"
contentname: Tags
ancestors: ../../
pagestyle: pages/articles.css
---
<h1>Tagged “{{ tag }}”</h1>
{% set postslist = collections[tag] %}
<section>
  <h2>Article List</h2>
  {% include "components/postslist.njk" %}
</section>
<a href="{{ '/article/' | url }}" class="animated">← Article list</a>
