---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/_base.njk
renderData:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the article tagged with “{{ tag }}”"
contentname: Tags
ancestors: ../../
pagestyle: pages/articles.css
---
<section>
  <h1>Tagged “{{ tag }}”</h1>
  {% set postslist = collections[tag] %}
  <article class="content">
    <h2>Article List</h2>
    {% include "components/postslist.njk" %}
  </article>
  <hr class="my-lg"/>
  {% include "components/taglist.njk" %}
</article>