<div class="content designThinking1">

    {{ "/src/img/svgs/designthinking.svg" | svgContents  | safe }}

    <p>A non-linear, human-centred set of cognitive, strategic, and practical processes</p>
    <article>
        <h3 class="article-title">Empathize</h3>
        <ul>
            <li>Qualitative & Quantitative Data Collection</li>
            <li>Reveals the user's needs & feelings</li>
            <li>Identifying the Problem & Pain Points</li>
        </ul>
    </article>
    <article>
        <h3 class="article-title">Define</h3>
        <ul>
            <li>Reviewing data Collected</li>
            <li>Determining Need</li>
            <li>5 whys</li>
            <li>Creation of Personas</li>
            <li>Problem statements</li>
        </ul>
    </article>
    <article>
        <h3 class="article-title">Ideate</h3>
        <ul>
            <li>Brainstorming</li>
            <li>Quantity not quality</li>
            <li>Focusing on Novelty over relevance</li>
        </ul>
    </article>
    <article>
        <h3 class="article-title">Prototype</h3>
        <ul>
            <li>Prototypes help understand the engagement with the end-users & stakeholders.</li>
            <li>Help reveal a deeper insight and more valuable experiences, to inform design decisions moving forward.</li>
        </ul>
    </article>
    <article>
        <h3 class="article-title">Test</h3>
        <ul>
            <li>Multiple prototypes helps the user compare solutions that achieve the same goal with a different journey.</li>
            <li>Show, don’t tell: let your users experience the prototype</li>
        </ul>
    </article>
<div>