<div class="project-cards">
	{% for project in projectslist %}
		{% include "components/featuredProjectCard.njk" %}
	{% endfor %}
</div>
<span class="list-link">...more to come! {# Full Article list → #}</span>

