<div class="project-cards">
	{% for project in projectslist %}
		{% include "components/featuredProjectCard.njk" %}
	{% endfor %}
</div>
{# <a href="/projects/" class="list-link animated">Full Project list →</a> #}


