<div class="article-cards">
	{% for article in articleslist %}
		{% include "components/featuredArticleCard.njk" %}
	{% endfor %}
</div>
<a href="/articles/" class="list-link animated">Full Article list →</a>


