<div class="project-cards">
	{% for project in projectslist %}
		{% include "components/featuredProjectCard.njk" %}
	{% endfor %}
</div>
<a href="" class="list-link animated">...more to come! {# Full Article list → #}</a>


