<div class="article-cards">
	{% for article in articleslist %}
		{% include "components/featuredArticleCard.njk" %}
	{% endfor %}
</div>
<a href="" class="list-link animated">...more to come! {# Full Article list → #}</a>


