<a href="{{ project.url | url }}" class="project-card" >
	<article {% if project.url == url %} data-current="current item"{% endif %}>
		<picture><img src="{{ project.data.heroImage | url }}" alt="{{ project.data.heroImage }}"></picture>
		<div class="copy">
			<h3 class="heading">
					{% if project.data.title %}
						{{ project.data.title }}
					{% else %}
						Untitled
					{% endif %}
			</h3>

				<ul class="inline-list">
				{% for skill in project.data.skills %}
					<li class="fakeIcon">{{ skill }}</li>
				{% endfor %}
				<ul>

		</div>
	</article>
</a>