<div class="article-cards">
	{% for article in articleslist %}

<a href="{{ article.url | url }}" class="article-card">
	<article  {% if project.url == url %} data-current="current item"{% endif %}>

		<picture><img src="{{ article.data.heroImage }}"></picture>
		{# {% if article.data.heroImage %}
				{% image article.data.heroImage, article.data.title , "300", '' %}
		{% endif %} #}

		<div class="copy">
			<h3 class="heading">
					{% if article.data.title %}
						{{ article.data.title }}
					{% else %}
						Untitled
					{% endif %}
			</h3>
			{% if article.data.leadIn %}
				<p class="leanIn">
					{{ article.data.leadIn }}
				</p>
			{% endif %}
		</div>
		
		<span class="readMore animated">Read More</span>
	</article>
</a>

		{# {% include "components/featuredArticleCard.njk" %} #}

	{% endfor %}
</div>
<span class="list-link">...more to come! {# Full Article list → #}</span>