<footer class="flex column p-md">
    <p class="align-center">edbastarache.dev 2021</p>
    https://www.upwork.com/freelancers/~01cada852fb04fd978
    
    {% include "components/socialNav.njk" %}
</footer>

