<header class="header p-md">
	<div id="banner" class="banner">
		<span class="banner-title">
			<a href="{{ '/' | url }}">
				{{ metadata.title }}
				<small>
					allThings ed!
				</small>
			</a>
		</span>
		{% include "components/mainNav.njk" %}
	</div>
</header>
