<header class="header p-md">
	<div id="banner" class="banner">
		<span class="banner-title mb-lg">
			<a href="{{ '/' | url }}">
				{{ metadata.title }}
				{# <small>
					all things ed!
				</small> #}
			</a>
		</span>
		{% include "components/mainNav.njk" %}
	</div>
</header>
