<header class="header">
	<div id="banner" class="banner">
		<span class="banner-title">
			<a href="{{ '/' | url }}">
				{{ metadata.title }}
			</a>
		</span>
		{% include "components/mainNav.njk" %}
	</div>
</header>
