<nav aria-label='Hire Me Navigation'>       
        <ul class="navList" role="menu">

            <li class="navItem px-sm" role="menuitem">
                <a href="https://www.linkedin.com/in/ed-bastarache-a1139819/" aria-label="linkedin">
                    <span class="text">linkedin</span>
                    {{ "/src/img/logos/linkedin.svg" | svgContents  | safe }}
                </a>
            </li>

            <li class="navItem px-sm" role="menuitem">
                <a href="https://www.upwork.com/freelancers/~01cada852fb04fd978" aria-label="twitter">
                    <span class="text">upwork</span>
                    {{ "/src/img/logos/upwork.svg" | svgContents  | safe }}
                </a> 
            </li>

            <li class="navItem px-sm" role="menuitem">
                <a href="https://business.fiverr.com/freelancers/edbast" aria-label="github">
                    <span class="text">fiverr</span>
                    {{ "/src/img/logos/fiverr.svg" | svgContents  | safe }}
                </a>
            </li>

        </ul>
    </nav>
