<nav aria-label="Main Navigation">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul aria-label="Main Menu" role="menu" class="navList">
  {%- for entry in navPages %}
    <li role="menuitem" class="navItem">
      <a href="{{ entry.url | url }}" {% if entry.url == page.url %} data-current="{{contentname}}"{% endif %} class="{{ 'active' if entry.url == page.url }} animated">
        {{ entry.title }}
      </a>
    </li>
  {%- endfor %}
    <li role="menuitem" class="navItem">
		  <a href="#" class="cta">Services</a>
    </li>
  </ul>
</nav>
