<nav aria-label="Main Navigation">

  {# {% set navPages = collections.all | eleventyNavigation %}
  <ul aria-label="Main Menu" role="menu" class="navList">
  {%- for entry in navPages %}
    <li role="menuitem" class="navItem">
      <a href="{{ entry.url | url }}" {% if entry.url == page.url %} data-current="{{contentname}}"{% endif %} class="{{ 'active' if entry.url == page.url }} animated">
        {{ entry.title }}
      </a>
    </li>
  {%- endfor %} #}

  <ul aria-label="Main Menu" role="menu" class="navList">
    <li role="menuitem" class="navItem">
      <a href="#home" data-current="Home" class="home animated">
        Home
      </a>
    </li>
    <li role="menuitem" class="navItem">
      <a href="#projects" class=" animated">
        Projects
      </a>
    </li>
    <li role="menuitem" class="navItem">
      <a href="#articles" class=" animated">
        Articles
      </a>
    </li>
    <li role="menuitem" class="navItem">
      <a href="#about" class=" animated">
        About
      </a>
    </li>
    <li role="menuitem" class="navItem">
		  <a href="#contact-services" class="animated cta"><span>Services</span></a>
    </li>
  </ul>
  <ul aria-label="secondary Menu" role="menu" class="navList">
    <li role="menuitem" class="navItem">
      <a href="https://edbastarache.dev/#home" data-current="Home" class="home animated">
        Home
      </a>
    </li>
    <li role="menuitem" class="navItem">
		  <a href="https://edbastarache.dev/#contact-services" class="animated cta"><span>Services</span></a>
    </li>
  </ul>
</nav>

<script>
 ScrollTrigger.create({
		trigger: "body",
		start: "top -5%",
		toggleClass: "scrolled",
		toggleActions: "restart pause reverse pause"
	});

</script>