{% for project in projectslist | reverse %}
	<article{% if project.url == url %} data-current="current item"{% endif %}>
		<a href="{{ project.url | url }}">
			{% if project.data.heroImage %}
				{% image project.data.heroImage, project.data.title , "300", ''%}
			{% endif %}

			<div>
				<h3 class="heading">

						{% if project.data.title %}
							{{ project.data.title }}
						{% else %}
							Untitled
						{% endif %}

				</h3>
				{% if project.data.description %}
					<p>
						{{ project.data.description }}
					</p>
				{% endif %}
			</div>
		</a>

	</article>
{% endfor %}
