<article class="showCase-Card">
		<a href="{{post.url}}">
				<picture>
						<img src="{{post.data.heroImage | url}}" loading="lazy" width="100%" height="auto" alt="">
				</picture>
				<div class="card-header">
						<h3 class="heading card-title">
								{{post.data.pageTitle}}
								<span class="date">
										{{post.data.date | readableDate}}
								</span>
						</h3>
				</div>
				<div class="card-body">
						<p class="card-description">
							{{post.data.pageDiscription}}
						</p>
				</div>
		</a> 
	</article>