<div class="skill-list">
  <dl>
    <dt>
      Standards:
    </dt>
    <dd>
      HTML Semantic Architecture
    </dd>
    <dd>
      WCAG2.0 Accessibility
    </dd>
    <dd>
      SEO - Preference & Technical
    </dd>
    <dd>
      Rich Structured Data
    </dd>
  </dl>



  <dl>
    <dt>
      Analytics & Reporting:
    </dt>
    <dd>
      Google Tag Manager
    </dd>
    <dd>
      Google Analytics
    </dd>
    <dd>
      Site Improve
    </dd>
    <dd>
      SEMrush
    </dd>
  </dl>

  <dl>
    <dt>
      Artificial Intelligence:
    </dt>
    <dd>
      Chat GPT-4
    </dd>
    <dd>
      OpenAssistant
    </dd>
    <dd>
      Midjourney
    </dd>
    <dd>
      Stable Diffusion
    </dd>
  </dl>

<dl>
  <dt>
    Design Tools:
  </dt>
  <dd>
    Photoshop
  </dd>
  <dd>
    Illustrator
  </dd>
  <dd>
    AdobeDX
  </dd>
  <dd>
    Figma
  </dd>
</dl>




  <dl>
    <dt>
      Imagery & Animations:
    </dt>
    <dd>
      WebP
    </dd>
    <dd>
      SVG animations
    </dd>
    <dd>
      Lottie
    </dd>
    <dd>
      GreenSock
    </dd>
  </dl>



<dl>
  <dt>
    Languages & Scripts:
  </dt>
  <dd>
    HTML5
  </dd>
  <dd>
    Javascript
  </dd>
  <dd>
    CSS3
  </dd>
  <dd>
    Less
  </dd>
  <dd>
    Sass 7-1 Architecture
  </dd>
  <dd>
    Python
  </dd>
</dl>




<dl>
  <dt>
    Bundles/Workflows:
  </dt>
  <dd>
    NPM
  </dd>
  <dd>
    Webpack
  </dd>
  <dd>
    Gulp
  </dd>
  <dd>
    Grunt
  </dd>
</dl>



<dl>
  <dt>
    Plateforms:
  </dt>
  <dd>
    Hubspot CMS
  </dd>
  <dd>
    Umbraco
  </dd>
  <dd>
    Netlify
  </dd>
  <dd>
    Wordpress
  </dd>
  <dd>
    Eleventy
  </dd>
  <dd>
    Gatsby
  </dd>
</dl>



<dl>
  <dt>
    Templating Lang:
  </dt>
  <dd>
    HubL
  </dd>
  <dd>
    Handlebars
  </dd>
  <dd>
    Nunjucks
  </dd>
  <dd>
    Liquid
  </dd>
</dl>



  <dl>
    <dt>
      Frameworks:
    </dt>
    <dd>
      Foundation
    </dd>
    <dd>
      Bootstrap
    </dd>
    <dd>
      jQuery
    </dd>
    <dd>
      Vue3
    </dd>
  </dl>
  <dl>
    <dt>
      Development Environments:
    </dt>
    <dd>
      Agile Scrum methodology 
    </dd>
    <dd>
      PBI creation and Refinement
    </dd>
    <dd>
      Azure Build & Deployment pipelines
    </dd>
  </dl>

</div>