<nav aria-label='Social Navigation'>       
        <ul class="navList" role="menu">
            <li class="navItem px-sm" role="menuitem">
                <a href="https://twitter.com" aria-label="twitter">
                    <span class="text">twitter</span>
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            <li class="navItem px-sm" role="menuitem">
                <a href="https://linkedin.com" aria-label="linkedin">
                    <span class="text">linkedin</span>
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="navItem px-sm" role="menuitem">
                <a href="https://github.com" aria-label="github">
                    <span class="text">github</span>
                    <i class="fab fa-github-square"></i>
                </a>
            </li>
            <li class="navItem px-sm" role="menuitem">
                <a href="https://codepen.com" aria-label="codepen">
                    <span class="text">codepen</span>
                    <i class="fab fa-codepen"></i>
                </a>
            </li>
        </ul>
    </nav>
