
    <article class="content mt-lg">
        <h2 id="aesthetic-usability-effect" class="article-title">Aesthetic Usability Effect</h2>
        {{ "/src/img/svgs/AestheticUsabilityEffect.svg" | svgContents  | safe }}

        <div class="mx-sm pt-sm">
            <h3 id="overview" class="heading">OVERVIEW</h3>
            <p>Users often perceive aesthetically pleasing design as a more usable design.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways" class="heading">KEY TAKEAWAYS</h3>
            <p>An aesthetically pleasing design can make users more tolerant of minor usability issues. The aesthetically pleasing design creates a positive response in people’s brains and leads them to believe the design works better. Aesthetically pleasing design can mask usability problems and prevent issues from being discovered during usability testing.</p>
        </div>
    </article>
    
    <article class="content mt-lg">
        <h2 id="fitts%E2%80%99s-law" class="article-title">Fitts’s Law</h2>
        {{ "/src/img/svgs/FittssLaw.svg" | svgContents  | safe }}
        <div class="mx-sm pt-sm">
            <h3 id="overview-2" class="heading">OVERVIEW</h3>
            <p>The time to acquire a target is a function of the distance to and size of the target.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-2" class="heading">KEY TAKEAWAYS</h3>
            <p>Touch targets should be large enough for users to both discern what it is and to accurately select them. Touch targets should have ample spacing between each other. Touch targets should be placed in areas of an interface that allows them to be easily acquired.</p>
        </div>
    </article>
    <article class="content mt-lg">
        <h2 id="jakob%E2%80%99s-law" class="article-title">Jakob’s Law</h2>
        {{ "/src/img/svgs/JakobsLaw.svg" | svgContents  | safe }}
        <div class="mx-sm pt-sm">
            <h3 id="overview-3" class="heading">OVERVIEW</h3>
            <p>Users spend most of their time on other sites. This means that users prefer your site to work the same way as all the other sites they already know.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-3" class="heading">KEY TAKEAWAYS</h3>
            <p>Users will transfer expectations they have built around one familiar product to another that appears similar. By leveraging existing mental models, we can create superior user experiences in which the user can focus on their task rather than learning new models. Minimize discordance by empowering users to continue using a familiar version for a limited time.</p>
        </div>
    </article>
    <article class="content mt-lg">
        <h2 id="law-of-pr%C3%A4gnanz" class="article-title">Law of Prägnanz</h2>
        {{ "/src/img/svgs/LawOfPrägnanz.svg" | svgContents  | safe }}
        <div class="mx-sm pt-sm">
            <h3 id="overview-4" class="heading">OVERVIEW</h3>
            <p>People will perceive and interpret ambiguous or complex images in the simplest form possible because it is the interpretation that requires the least cognitive effort of us.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-4" class="heading">KEY TAKEAWAYS</h3>
            <p>The human eye likes to find simplicity and order in complex shapes because it prevents us from becoming overwhelmed with information. Research confirms that people are better able to visually process and remember simple figures than complex figures.</p>
        </div>
    </article>
    <article class="content mt-lg">
        <h2 id="law-of-similarity" class="article-title">Law of Similarity</h2>
        {{ "/src/img/svgs/LawOfSimilarity.svg" | svgContents  | safe }}
        <div class="mx-sm pt-sm">
            <h3 id="overview-5" class="heading">OVERVIEW</h3>
            <p>The human eye tends to perceive similar elements in a design as a complete picture, shape, or group, even if those elements are separated.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-5" class="heading">KEY TAKEAWAYS</h3>
            <p>Ensure that links and navigation systems are visually differentiated from normal text elements, and are consistently styled.</p>
        </div>
    </article>
    <article class="content mt-lg">
        <h2 id="doherty-threshold" class="article-title">Doherty Threshold</h2>
        {{ "/src/img/svgs/DohertyThreshold.svg" | svgContents  | safe }}
        <div class="mx-sm">
            <h3 id="overview-6" class="heading">OVERVIEW</h3>
            <p>Productivity soars when a computer and its users interact at a pace (&lt;400ms) that ensures that neither has to wait on the other.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-6" class="heading">KEY TAKEAWAYS</h3>
            <p>Provide system feedback within 400ms in order to keep users’ attention and increase productivity. Use perceived performance to increase response time and reduce the perception of waiting.</p>
        </div>
    </article>
    <article class="content mt-lg">
        <h2 id="hick%E2%80%99s-law" class="article-title">Hick’s Law</h2>
        {{ "/src/img/svgs/HicksLaw.svg" | svgContents  | safe }}
        <div class="mx-sm pt-sm">
            <h3 id="overview-7" class="heading">OVERVIEW</h3>
            <p>The time it takes to make a decision increases with the number and complexity of choices.</p>
         </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-7" class="heading">KEY TAKEAWAYS</h3>
            <p>Simplify choices for the user by breaking down complex tasks into smaller steps. Avoid overwhelming users by highlighting recommended options. Use progressive onboarding to minimize cognitive load for new users.</p>
        </div>
    </article>
    <article class="content mt-lg">
        <h2 id="law-of-common-region" class="article-title">Law of Common Region</h2>
        {{ "/src/img/svgs/LawOfCommonRegion.svg" | svgContents  | safe }}
        <div class="mx-sm pt-sm">
            <h3 id="overview-8" class="heading">OVERVIEW</h3>
            <p>Elements tend to be perceived into groups if they are sharing an area with a clearly defined boundary.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-8" class="heading">KEY TAKEAWAYS</h3>
            <p>Adding a border around an element or group of elements is an easy way to create a common region. Common regions can be created by defining a background behind an element or group of elements.</p>
        </div>
    </article>
    <article class="content mt-lg">
        <h2 id="law-of-proximity" class="article-title">Law of Proximity</h2>
        {{ "/src/img/svgs/LawOfProximity.svg" | svgContents  | safe }}
        <div class="mx-sm pt-sm">
            <h3 id="overview-9" class="heading">OVERVIEW</h3>
            <p>Objects that are near, or proximate to each other, tend to be grouped.</p>
        </div>
        <div class="mx-sm pt-sm">
            <h3 id="key-takeaways-9" class="heading">KEY TAKEAWAYS</h3>
            <p>Proximity helps to establish a relationship with nearby objects. Proximity helps users understand and organize information faster and more efficiently.</p>
        </div>
    </article>
