// '/assests/css/scss/base/_typography.scss'

body {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
  line-height: 1.618;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-100);
}

h2 {
  font-size: var(--fs-150);
}

h3 {
  font-size: var(--fs-200);
}

h4,
h5,
h6 {
  font-size: var(--fs-250);
}

.banner-title {
  font-family: var(--ff-header);
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}

small {
  font-family: var(--ff-body);
  font-weight: var(--fw-extralight);
}

nav .navList .navItem {
  font-size: var(--fs-100);
  .fas {
    font-size: 1.5em;
  }
  footer > & {
    font-size: var(--fs-200);
    .fab {
      font-size: var(--fs-1);
    }
  }
  @media screen and (min-width: 1080px) {
    font-size: var(--fs-200);
    .fas {
      font-size: 1.5em;
    }
    footer > & {
      font-size: var(--fs-150);
    }
  }
}
