<!doctype html>
<html {% if contentname %} data-current="{{ contentname }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body class="{{contentname | slug}}-page">
		{% include "components/header.njk" %}
		<main class="content">
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
	</body>
</html>
