<!doctype html>
<html {% if contentname %} data-current="{{ contentname }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body class="{{contentname | slug}}-page">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NR6LPFB"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		 {% include "components/lp-header.njk" %} 
		<main class="content">
			{{ layoutContent | safe }}
		</main>
	</body>
</html>
