---
layout: layouts/_base.njk
---
<div class="articles">
<section class="hero">
		<div class="hero-copy">
			<h1 class="page-heading">
				{{ title }}
			</h1>
	</div>
</section>

	{{ layoutContent | safe }}
	<section class="content article-list">
		<h2>Article List</h2>
		{% set postslist = collections.post %}
		{% include "components/postslist.njk" %}
	</section>
</div>