---
layout: layouts/_base.njk
---
<h1 class="page-heading">{{ title }}</h1>
<section class="content">
  <h2>Tag List</h2>
  {% include "components/taglist.njk" %}
</section>
{{ layoutContent | safe }}
<section class="content">
  <h2>Article List</h2>
  {% set postslist = collections.post %}
  {% include "components/postslist.njk" %}
</section>