---
layout: layouts/_base.njk
---

<section id="home" class="hero">
	<div class="content contained">
		<div class="hero-copy">
			<h1 class="page-title">
				UX/UI Design, Front-end Development & Consulting Services
			</h1>
			<h2 class="Sub-title">
				Bringing your idea to life
			</h2>
			<p class="">
				As an experienced UX/UI Front-end Developer with a decade of expertise in web design and development delivering brand aligned, intuitive, and user-friendly experiences with a focus on SEO best practices.
			</p>
			<a href="#contact-services" class="cta animated"><span>Lets Chat</span></a>
		</div>
		<picture class="hero-image">
			<img src="../../img/uploads/ed.png" loading="lazy" width="756" height="1134" alt="Developer Photo">
			<img src="../../img/uploads/ed.png" loading="lazy" width="756" height="1134" role="presentation" class="filter-effects">
		</picture>
	</div>
</section>

{{ layoutContent | safe }}

<section id="intro" class="intro">
	<div class="content contained">
		<ul class="solution-list" data-col="6">
			<li class="solution-card">
					<span class="material-symbols-outlined icon">mindfulness</span>
					<h2 class="heading">User-Centric Design</h2>
					<p>
						Discover user insights, analyze data, create engaging prototypes.
					</p>
			</li>
			<li class="solution-card">
					<span class="material-symbols-outlined icon">interactive_space</span>
					<h2 class="heading">Creative Visual Design</h2>
					<p>
						Craft captivating experiences with fonts, icons, colors, branding.
					</p>
			</li>
			<li class="solution-card">
					<span class="material-symbols-outlined icon">touch_app</span>
					<h2 class="heading">Engaging User Interfaces</h2>
					<p>
						Spark excitement & increase conversions with captivating animations, seamless interactions.
					</p>
			</li>
			<li class="solution-card">
					<span class="material-symbols-outlined icon">devices</span>
					<h2 class="heading">Responsive Web Design</h2>
					<p>
						Create adaptable layouts for enhanced user engagement, online success.
					</p>
			</li>
			<li class="solution-card">
					<span class="material-symbols-outlined icon">conversion_path</span>
					<h2 class="heading">Optimizing Conversions</h2>
					<p>
						Utilize analytics for improved conversions, website performance, business growth.
					</p>
			</li>
			<li class="solution-card">
					<span class="material-symbols-outlined icon">campaign</span>
					<h2 class="heading">Digital Marketing</h2>
					<p>
						Boost online visibility and surpass competitors with latest SEO strategies.
					</p>
			</li>
		</ul>
	</div>
</section>
<section id="projects" class="projects">
	<div class="content contained column">
		<h2 class="section-title kabob-title">Projects</h2>
		{% set projectslist = collections.featuredProjects %}
		{% include "components/featured-Projectslist.njk" %}
	</div>
</section>
<section id="articles" class="featured-articles">
	<div class="content contained column">
		<h2 class="section-title kabob-title">Articles</h2>
		{% set articleslist = collections.featuredArticles %}
		{% include "components/featured-Articleslist.njk" %}
	</div>
</section>
<section id="about" class="about-knowledge">
	<div class="content contained column">
		<div class="flex">
			<article class="about">
				<h2 class="article-title kabob-title">About Me</h2>
					{% include "components/aboutme.njk" %}
			</article>
			<article class="knowledge">
				<h2 class="article-title kabob-title">Knowledge</h2>
					{% include "components/skills.njk" %}
			</article>
		</div>
	</div>
</section>
<section id="contact-services" class="contact-services">
	<div class="content contained column">
		<div class="flex">
			<article class="services content">
				<h2 class="article-title kabob-title">Services</h2>
				<ul class="service-list">
					<li>
						<h3 class="heading">Design and Prototyping</h3>
						<p>
							With a focus on user experience to create designs that are not only visually appealing but also intuitive to use, ensuring that your customers can easily find what they are looking for and complete their desired actions. By combining creativity and strategy, I can deliver a design that effectively communicates your message and drive customer engagement.
						</p>
					</li>
					<li>
						<h3 class="heading">Website Development</h3>
						<p>
							Specializing in creating custom websites that not only look beautiful but also have a strong foundation with a focus on scalability, security, and ease of management. I have extensive knowledge of a diverse range of CMS platforms and templating languages, allowing me to deliver high-performance, fast-loading, and responsive websites that are optimized for search engines and user experience.
						</p>
					</li>
					<li>
						<h3 class="heading">Quality Assurance & Analytics</h3>
						<p>
							Understanding that a website's success goes beyond aesthetics. Quality assurance and analytics services, including SEO optimization, accessibility standards, and analytics/tracking will ensure that your website performs at its best, delivering the best experience for your audience. 
						</p>
					</li>
				</ul>
			</article>
			<article class="contact content">
				<h2 class="article-title kabob-title">Contact Me</h2>
				{% include "components/contactForm.njk" %}
			</article>
		</div>
	</div>
</section>
<script>
	gsap.registerPlugin(ScrollTrigger);
	let links = gsap.utils.toArray("ul[aria-label='Main Menu'] a");
  links.forEach(a => {
    let element = document.querySelector(a.getAttribute("href")),
        linkST = ScrollTrigger.create({
              trigger: element,
              start: "top top"
            });
    ScrollTrigger.create({
      trigger: element,
      start: "top top",
      end: "bottom bottom",
      onToggle: self => self.isActive && setActive(a)
    });
    a.addEventListener("click", e => {
      e.preventDefault();
      gsap.to(window, {duration: 1, scrollTo: linkST.start, overwrite: "auto"});
    });
  });

  function setActive(link) {
    links.forEach(el => el.classList.remove("active"));
    link.classList.add("active");
  }

gsap.to(".filter-effects", {
	scrollTrigger: {
		trigger: ".hero-image",
		start: "bottom 72%",
		end: "bottom 0%",
		scrub: true,
		toggleActions: "restart pause reverse pause"
	},
	y: -30,
	rotation: 0,
	opacity: 1,
	ease: "none"
});

gsap.from(".solution-card", {
	scrollTrigger: {
		trigger: ".solution-list",
		start: "top 100%", 
		end: "top 60%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	y: 300,
	rotation: 5,
	opacity: 0.25,
	duration: 2,
	stagger: 0.9,
	ease: "none"
});

gsap.from(".article-card", {
	scrollTrigger: {
		trigger: ".article-cards",
		start: "top 120%",
		end: "top 60%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	y: 300,
	rotation: 5,
	opacity: 0.25,
	duration: 2,
	stagger: 0.75,
	ease: "none"
});

gsap.from(".project-card", {
	scrollTrigger: {
		trigger: ".project-cards",
		start: "top 120%",
		end: "top 60%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	y: 300,
	rotation: 5,
	opacity: 0,
	duration: 2,
	stagger: 0.75,
	ease: "none"
});
gsap.from(".aboutme p", {
	scrollTrigger: {
		trigger: ".aboutme p",
		start: "top 100%",
		end: "top 70%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	y: 150,
	rotation: 0,
	opacity: 0,
	duration: 2,
	stagger: 0.75,
	ease: "none"
});
gsap.from(".skill-list dl", {
	scrollTrigger: {
		trigger: ".skill-list dl",
		start: "top 100%",
		end: "top 70%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	y: 150,
	rotation:0,
	opacity: 0,
	duration: 3,
	stagger: 0.75,
	ease: "none"
});
gsap.from(".service-list li", {
	scrollTrigger: {
		trigger: ".service-list",
		start: "top 100%",
		end: "top 70%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	y: 150,
	rotation:5,
	opacity: 0,
	duration: 2,
	stagger: 0.85,
	ease: "none"
});
gsap.from(".contact-services form", {
	scrollTrigger: {
		trigger: ".contact-services form",
		start: "top 100%",
		end: "top 80%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	y: 100,
	rotation:0,
	opacity: 0,
	duration:2,
	ease: "none"
});

gsap.from(".projects .list-link", {
	scrollTrigger: {
		trigger: ".projects .list-link",
		start: "top 80%",
		end: "top 60%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"

	},
	rotation:0,
	opacity: 0,
	duration:2,
	ease: "none"
});
gsap.from(".featured-articles .list-link", {
	scrollTrigger: {
		trigger: ".featured-articles .list-link",
		start: "top 80%",
		end: "top 60%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"

	},
	rotation:0,
	opacity: 0,
	duration:2,
	ease: "none"
});

gsap.from(".contact-services .kabob-title", {
	scrollTrigger: {
		trigger: "section.contact-services",
		start: "top 95%",
		end: "top 75%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	rotation:0,
	opacity: 0,
	duration:2,
	ease: "none"
});
gsap.from(".knowledge .kabob-title", {
	scrollTrigger: {
		trigger: ".knowledge",
		start: "top 105%",
		end: "top 75%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	rotation:0,
	opacity: 0,
	duration:3,
	ease: "none"
});
gsap.from(".about .kabob-title", {
	scrollTrigger: {
		trigger: ".about",
		start: "top 100%",
		end: "top 75%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	rotation:0,
	opacity: 0,
	duration:2,
	ease: "none"
});
gsap.from(".featured-articles .kabob-title", {
	scrollTrigger: {
		trigger: ".featured-articles",
		start: "top 95%",
		end: "top 75%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	rotation:0,
	opacity: 0,
	duration:2,
	ease: "none"
});
gsap.from(".projects .kabob-title", {
	scrollTrigger: {
		trigger: ".projects",
		start: "top 95%",
		end: "top 75%",
		scrub: 1,
		toggleActions: "restart pause reverse pause"
	},
	rotation:0,
	opacity: 0,
	duration:2,
	ease: "none"
});

</script>