---
layout: layouts/_base.njk
---

<section class="content">

<h2>Design Thinking</h2>
User center design that is a non-linear process

{% include "components/designThinking.njk" %}

</section>

{{ layoutContent | safe }}


{% include "components/contactForm.njk" %}

