---
layout: layouts/_lp-base.njk
---

<section id="home" class="hero">
	<div class="content contained">
		<div class="hero-copy">
			{% include "gigs/textUpdate.njk" %}
		</div>
		<picture class="hero-image">
			<img src="../../img/uploads/ed.png" loading="lazy" width="756" height="1134" alt="Developer Photo">
			<img src="../../img/uploads/ed.png" loading="lazy" width="756" height="1134" role="presentation" class="filter-effects">
		</picture>
	</div>
	<div class="notes">Website UI/UX Design Development & Consulting</div>
</section>

{{ layoutContent | safe }}

