---
layout: layouts/_base.njk
---
<article class="article">

  <div class="hero">
    <div>
        {% if heroImage %}
          {% image heroImage, title , '300', ''%}
        {% endif %}

        <div class="article-details">
          <h1 class="page-title">{{ title }}</h1>
          {% if tags %}
          <span>
            {% for tag in tags %}
              {%- if tag != "post" -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
            </span>
          {% endif %}
        </div>

        <a href="{{ '/' | url }}" class="animated">← Back Home</a>
    </div>

  </div>



  <section>
    {{ layoutContent | safe }}
  </section>

</article>




