---
layout: layouts/_base.njk
---
<article class="article">
    <div class="hero">
      <div>
        {% if heroImage %}
          {% image heroImage, title , "300", ''%}
        {% endif %}
        <a href="{{ '/' | url }}" class="animated">← Back Home</a>
      </div>
    </div>

  <section>
    <span class="kabob-title">Project Debriefing: </span>
      <div class="columned-article">
        <div class="project-details">
          <h1>{{ title }}</h1>
          <ul>
          {% if technologies %}
            <li><label>Technologies</label>{{technologies}}</li>
          {% endif %}
          {% if role %}
            <li><label>Role</label>{{role}}</li>
          {% endif %}
          {% if duration %}
            <li><label>Duration</label>{{duration}}</li>
          {% endif %}
          {% if URL %}
            <li><label>URL</label>{{URL}}</li>
          {% endif %}
          {% if company %}
            <li><label>Company</label>{{company}}</li>
          {% endif %}
          </ul>
        </div>
        <article>
          <h2 class="section-title">{{debriefing}}</h2>
          {{ layoutContent | safe }}
        </article>
      </div>
  </section>
  
</article>

