---
layout: layouts/_base.njk
---
<article class="article">

  <div class="hero">
    <div>
      {% if heroImage %}
        {% image heroImage, title , "300", ''%}
      {% endif %}
      <a href="{{ '/' | url }}" class="animated pt-md">← Back Home</a>
    </div>
  </div>

  <section>
    <span class="kabob-title">Project Debriefing: </span>
      <div class="columned-article">
        <div class="project-details">
          <h1>{{debriefing}}</h1>
          <ul>
          {% if technologies %}
            <li><label>Technologies</label>{{technologies}}</li>
          {% endif %}
          {% if role %}
            <li><label>Role</label>{{role}}</li>
          {% endif %}
          {% if URL %}
            <li><label>URL</label>{{URL}}</li>
          {% endif %}
          {% if company %}
            <li><label>Company</label>{{company}}</li>
          {% endif %}
          </ul>
        </div>
        <article>
          {{ layoutContent | safe }}
          {% if conclusion %}
            <h2>Conclusion</h2>
            <p>{{conclusion}}</p>
          {% endif %}
          
            <strong class="my-lg">...visuals and code examples to come!</strong>

        </article>
      </div>
  </section>
  
</article>

