@use '../abstracts/' as *;
main {
  min-height: 66vh;
}
 main>section,
 main>article {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 4vw 4em;
   min-height: 32vh;
 }
 main>article{
   flex-direction: column;
 }
section>.content,
article>.content{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   &.contained{
      max-width: 118ch;
   }
 }
.content.contained{
  max-width: 118ch;
}

.banner,
.banner-title{
  transition: height 0.5s, font-size 0.25s;
  @include media-desktop {
    transition: all 1s;
  }
}
.banner .banner-title{
  transition: height 0.5s, font-size 0.25s;
  @include media-desktop {
    transition: height 0.5s, font-size 0.25s;
    transition: all 1s;
  }
}

body{
  .header{
    transition: translate 0.5s;
  }
}

body{
 .banner{
  transition: all 1s;
 }
}

body.scrolled{
 .header{
    @media (max-width: 768px) {
      translate: 0 -1em;
      transition: translate 0.5s;
    }
  }
  .banner{
    margin: 0 3.236vw;
    overflow: hidden;
    transition: height 0.5s, font-size 0.25s;
    transition: all 1s;
    .banner-title{
      font-size: 0;
      transition: height 0.5s, font-size 0.25s;
      @include media-desktop {
        font-size: 2em;
        transition: height 0.5s, font-size 0.25s;
        transition: all 1s;
      }
    }
    .navList .cta{
      border-radius: 0;
      background: var(--clr-header-cta);
      color: Black;
      transition: all 1s;
    }
  }

}


