main {
  &::before,
  &::after {
    position: absolute;
    left: 0vw;
    right: 0vw;
    height: 11px;
    content: '';
    background-image: var(--headerWaveImage);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: scaleX(-1);

    @media screen and (min-width: 1080px) {
      height: 3.1vh;
    }
  }

  &::after {
    height: 50px;
    margin-top: -3.2vh;
    transform: scaleY(-1);
  }

  & > section {
    &.p-lg {
      padding-top: 12vh;
      padding-bottom: 15vh;
    }
    &.colored {
      background-color: var(--pageBGColor);

      &::before,
      &::after {
        position: absolute;
        left: 0;
        right: 0;
        height: 100px;
        content: '';
        background-image: var(--coloredWaveImage);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        transform: scaleY(-1);
      }

      &::before {
        @media screen and (min-width: 1080px) {
          margin-top: -11vh;
        }
      }

      &::after {
        margin-top: 4vh;
        transform: scaleY(1);
        transform: scaleX(-1);
      }
    }
  }
}
