@use '../abstracts/' as *;
main {
  min-height: 66vh;
}
 main>section,
 main>article {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 4vw 4em;
   min-height: 32vh;
   @include media-desktop {
     padding-top: 6em !important;
   }
 }
 main>article{
   flex-direction: column;
 }
section>.content,
article>.content{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   &.contained{
      max-width: 118ch;
   }
 }
.content.contained{
  max-width: 118ch;
}

.banner,
.banner-title{
  transition: all 0.5s
}
body.scrolled{
  .banner{
    margin: 0 3.236vw;
    overflow: hidden;
    transition: all 0.5s;
    .banner-title{
      font-size: 2em;
      transition: all 1s;
    }
    .navList .cta{
      border-radius: 0;
      background: var(--clr-header-cta);
      color: Black;
      transition: all 1s;
    }
  }

}


