.designThinking {
  display: flex;
  justify-content: space-between;
  article {
    border: 1px solid var(--clr-card-br, black);
    border-radius: 0.5vw;
    padding: 1vw 1.618vw;
    min-width: calc(1.618vw * 5);
    min-height: calc(1.618vh * 6);
    justify-content: center;
    align-items: center;
    display: flex;
  }
  ul {
    display: none;
  }
}
