form {
  display: grid;
	padding: 2em 4em;
}

form label span{
    display: inline-block;
    transform: translate(10px, 10px);
    background: white;
    padding: 0 0.5em;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}
