@use '../abstracts/' as *;
.hero{
  padding-top: 3.5em !important;
  margin-bottom: 0;
  padding-bottom: 3.5em;
  width: 100%;
  align-items: center;
  @include media-desktop {
    padding-top: 5em !important;
    margin-bottom: -7em;
  }
  & > .content{
    flex-wrap: wrap-reverse;
    @container (min-width: 768px){
      flex-wrap: nowrap;
    }
  }
  background: rgb(36,67,123);
  background: radial-gradient(at bottom left, #24437b 0%, #0a1323 88%);
  color: #cdcdcd;
}
.hero-copy{
  max-width: 66ch;
  width: 100%;
  display: flex;
  gap:0.75em;
  justify-content: center;
  flex-direction: column;
  padding: 0 4vw;
  align-items: center;
  text-align: center;

  @container (min-width: 768px){
    margin-top: 4em !important;
    margin-right: -12em;
    font-size: 1.25em;
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }
  .page-title{
    line-height: 1.25;
    text-transform: capitalize;
    font-weight: 700;
    font-size: clamp(0.95em, 2vw, 1.33em);
    margin-bottom: 1em;
  }
  .Sub-title{
    font-size: 2.85em;
    text-transform: capitalize;
    line-height: 1em;
    margin-top: -0.25em;
    @container (min-width: 768px){
        font-size: clamp(2.25em, 4.8vw, 3.2em);
    }
  }
  p {
    max-width: 47ch;
    line-height: 1.35;
    @container (min-width: 1080px){
      max-width: 66ch;
    }
  }
  .cta{
    width: fit-content;
    padding: 0.382em 0.75em;
    margin: 1em 0;
    background: var(--clr-header-cta);
    border: 0.125em solid var(--clr-header-cta);
    color: var(--clr-header-bg);
    font-weight: bold;
    border-radius: 0.25em;
    box-shadow: 0px 2px 9px 0px #5959595c;
    &:hover{
      background: transparent;
      color: var(--clr-header-cta);
      border: 0.125em solid var(--clr-header-cta);
    }
    &.animated{
      background: transparent;
      &:after{
        transform: scaleX(1);
        visibility: visible;

      }
      span{
        transition: all 1s;
      }
      &:hover{
        color: var(--clr-header-cta);
        span{
          // transition: all 1s;
        }
        transition: all 0.12s;
        &:after{
          transform: scaleX(0);
        }
      }
    }
  }
}
.hero-image{
  margin: 4em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  min-width:14em;
  max-width:38em;
  aspect-ratio: 1/1;
  overflow: hidden;
  @container (min-width: 768px){
    margin-right: -8vw !important;
    width:42vw;
  }
}
.hero-image {
  position: relative;
  -webkit-mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 180%;
  -webkit-mask-position: 0 55%;

  img.filter-effects {
    position: absolute;
    filter: blur(2em) brightness(0);
    z-index: -1;
  }
}