body.project-page{

  .hero {
    @media (min-width:1080px) {
      flex-direction: row;
      width: 100vw;
    }
    picture{
      aspect-ratio: 9/7;
    }
  }

  main > article {
    gap: 2em;
    &> section {
      max-width: 118ch;
      width: 100%;
      container-type: inline-size;
      .kabob-title{
        font-weight: bold;
        margin-bottom: 1.5em;
      }

      .columned-article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1em;
        gap: 1em;
      }

      .project-details {
        display: flex;
        flex-direction: column;
        flex: 0 1 65ch;
        @container (min-width: 1089px) {
          padding: 0 2em 0 0;
          flex: 0 1 24em;
          text-align: right;
        }
          h1{
            font-size: 1.75em;
            margin-bottom: 0.5em;
          }
          ul{
            list-style: none;
            padding: 0;

            label {
              font-weight: var(--fw-bold);
              margin-right: 0.25em;
              display: block;

            }

          }
        }

      article{
        flex: 0 1 65ch;
        h2{
          font-size: 1.25em;
          padding: 1em 0 0.5em;
          &:first-of-type{
            padding-top: 0; 
          }
        }
  
        p {
          padding-bottom: 0.5em;
        }
      }

    }

  }
}

