a[rel='tag'],
a[rel='tag']:visited {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.625em;
  padding: 0 0.5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid var(--clr-tag-br, black);
  background-color: var(--clr-tag-bg);
  color: var(--clr-tag-br);
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0 0.5em 0.5em 0;
}

a[rel='tag']:hover {
  border: 1px solid var(--clr-tag-br-hover, black);
  background-color: var(--clr-tag-bg-hover, black);
  color: var(--clr-tag-ft-hover, black);
}

a[rel='tag']:last-child {
  margin-right: 0;
}
