@forward '../components/form.scss';
:root {
  --hfBGColor: radial-gradient(
    farthest-corner at 40px 40px,
    hsl(350, 100%, 60%) 0%,
    hsl(245, 85%, 57%) 100%
  );
  --hfFontColor: hsl(0, 0%, 100%);
  --pageBGColor: hsl(0, 0%, 100%);
  --pageFontColor: hsl(0, 0%, 0%);
  --pageAccentColor: hsl(300, 100%, 25%);
}

header,
footer {
  background: var(--hfBGColor);
  color: var(--hfFontColor);
}
body {
  background: var(--pageBGColor);
  color: var(--pageFontColor);
}
