@forward '../components/designThinking.scss';
@forward '../components/designThinking-svg.scss';
@forward '../components/form.scss';

header,
footer {
  background: var(--header-bg-c);
  color: var(--header-ft-c);
}
body {
  background: var(--body-bg-c);
  color: var(--body-ft-c);
}
