$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-a15: hsla(0, 0%, 0%, 0.15);
$black-a11: hsla(0, 0%, 0%, 0.11);

$clr-primary: hsl(220, 54%, 19%);
$clr-secondary:hsl(41, 93%, 52%);
$clr-accent: hsl(219, 47%, 53%);
$clr-dark1: hsl(257, 4%, 37%);
$clr-dark2: hsl(226, 8%, 43%);

$colors: (
  primary: (
   100:  hsl(220, 54%, 50%),
    200: hsl(220, 54%, 40%),
    300: hsl(220, 54%, 30%),
    400: hsl(220, 54%, 19%),
    500: hsl(220, 54%, 10%),
  ),
  secondary: (
    100: hsl(41, 93%, 80%),
    200: hsl(41, 93%, 70%),
    300: hsl(41, 93%, 60%),
    400: hsl(41, 93%, 52%),
    500: hsl(41,93%, 40%),
  ),
  accent: (
    100: hsl(219, 47%, 80%),
    200: hsl(219, 47%, 70%),
    300: hsl(219, 47%, 60%),
    400: hsl(219, 47%, 53%),
    500: hsl(219, 47%, 20%),
  ),
  dark1: (
    100: hsl(257, 4%, 80%),
    200: hsl(257, 4%, 70%),
    300: hsl(257, 4%, 50%),
    400: hsl(257, 4%, 37%),
    500: hsl(257, 4%, 20%),
  ),
  dark2: (
    100: hsl(226, 8%, 70%),
    200: hsl(226, 8%, 60%),
    300: hsl(226, 8%, 50%),
    400: hsl(226, 8%, 43%),
    500: hsl(226, 8%, 30%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    110: hsl(0, 0%, 99%),
    120: hsl(0, 0%, 98%),
    130: hsl(0, 0%, 97%),
    140: hsl(0, 0%, 96%),
    150: hsl(0, 0%, 95%),
    200: hsl(0, 0%, 90%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 70%),
    500: hsl(0, 0%, 60%),
    600: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 20%),
  ),
);
