@use 'fonts' as *;
@use 'colors' as *;
@use 'visuals' as *;
@use '../base/mixins' as *;
:root {
  // Font Family
  --ff-header: #{$ff-lato};
  --ff-body: #{$ff-raleway};

  // Font size
  --fs-default: #{$fs-default-m};
  @include media-desktop {
    --fs-default: #{$fs-default-d};
  }

  
  --fs-base: #{$fs-150};
  @include media-phone {
    --fs-base: #{$fs-250};
  }

  --fs-1: #{$fs-1};
  --fs-50: #{$fs-50};
  --fs-100: #{$fs-100};
  --fs-150: #{$fs-150};
  --fs-200: #{$fs-200};
  --fs-250: #{$fs-250};

  // Font Weight
  --fw-extralight: #{$extralight};
  --fw-light: #{$light};
  --fw-normal: #{$normal};
  --fw-bold: #{$bold};
  --fw-extraBold: #{$extraBold};

  // // Colours
  --cl-header-bg: #{$white};
  --cl-header-ft: #{$black};
  --cl-body-bg: #{$white};
  --cl-body-ft: #{$black};

  --cl-form-bg: #{$white};
  --cl-form-ft: #{$black};
  --cl-form-br: #{$black};
  --cl-input-bg: #{$white};
  --cl-input-ft: #{$black};
  --cl-input-br: #{$black};

  --cl-tag-bg: transparent;
  --cl-tag-ft: #{$black};
  --cl-tag-br: #{$black};
  --cl-tag-bg-hover: #{$black};
  --cl-tag-ft-hover: #{$white};
  --cl-tag-br-hover: #{$black};

  --cl-card-bg: transparent;
  --cl-card-ft: #{$black};
  --cl-card-br: #{$black};
  --cl-card-sh: #{$black-a15};
  --cl-card-sh-hover: #{$black-a11};

  //z-index
  --z-header: 0;
  --z-banner: 20;
  --z-menuToggle: 40;
  --z-mainNav: 30;
  --z-bannerTitle: 30;
  --z-main: 0;
  --z-footer: 0;
}
