<style>
{# 

#DF3C5F, #224193, #6F9BD1 

#}

	{# :root{
	--clr-header-bg: #224193;
	--clr-header-cta: #6F9BD1;
	--clr-heroBG: #DF3C5F;
	--clr-heroBG-start: rgba(0, 0, 0, 0);
  --clr-heroBG-end: rgba(0, 0, 0, 100);
	} #}
	.hero-copy .title{
		font-size: 4em;
	}

	.hero-copy{
		flex: 0 0 39em;
	}
	.hero-copy .title-accent{
		font-size: 1.15em;
		
	}
</style>
	<h2 class="title textUpdate">
		<span class="text" content="Website" style="margin-bottom: -7px;">Website</span>
		<span class="title-accent">Analytics & Tag Manager</span>
		<span class="text" content="Setup" style="font-size: 1.13em;margin-top: -12px;">Setup</span>
	</h2>