<style>
{# 

Yellow #f6ae13

#DF3C5F, #224193, #6F9BD1 

#}

	{# :root{
	--clr-header-bg: blue;
	--clr-header-cta: blue;
	--clr-heroBG: blue;
	--clr-heroBG-start: rgba(0, 0, 0, 0);
  --clr-heroBG-end: rgba(0, 0, 0, 100);
	} #}

	.title.imageUpdate{
			font-size: 5.5em;
	}
</style>
	<h2 class="title imageUpdate">
		<span class="text" content="Website" style="margin-bottom: -7px;">Website</span>
		<span class="title-accent">Image</span>
		<span class="text" content="Update" style="font-size: 1.13em;margin-top: -12px;">Update</span>
	</h2>